.build-venv/
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*.bak
*.egg-info/
build/
dist/
wheel-base/

.env
.env.*
*.key
*.pem

*.mp4
*.mkv
*.avi
*.mov
*.wav
*.mp3
*.srt
*.subreplace
/models/
/projects/
/cache/

.DS_Store
Thumbs.db
